body {
    font: 14px sans-serif;
}

h1 {
    color: #000000;
    color: rgb(0, 0, 0);
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0);
    font-family: "sweetness";
    font-size: 76px;
    line-height: 76.8px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-indent: 0px;
}

@font-face {
    font-family: "sweetness";
    src: url("sweetness.4493a32ba07ee4d63fe35fe389abab8f.woff2") format("woff2"), url("sweetness.3156250df06f20f3e2f87e701701dab9.woff") format("woff");
}

img {
    width: 250px;
    height: 170px;
    margin-left: 40%;
}

a {
    color: #00F1B8;
}

input {
    color: black;
}

.wrapper {
    width: 350px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    background-color: #00F1B8;
    color: black
}